# Python-specific
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Jupyter Notebooks
*.ipynb_checkpoints/

# Environment Variables and Virtual Environments
.env
venv/
.env/

# Data Files
*.csv
*.xlsx
*.json
*.db

# Logs and Temporary Files
*.log
*.tmp
*.bak

# IDE and Editor Configurations
.vscode/
.idea/
.DS_Store
